<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>业务员价格报表</title>
	</head>
	<body class="layui-layout-body">
		<div style="padding: 15px;">
			<div>
				<form class="layui-form" name="searchywy">
					<div class="layui-form-item">
						<div class="layui-inline" id="choosedate3">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="startyear" class="layui-input" id="startyear" lay-verify="required" readonly="" placeholder="开始年份">
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline" style="width: 400px; display: inline-block; vertical-align: top;">
								<select name="ywy" id='ywy' xm-select="select1" xm-select-search xm-select-show-count="4">
									<!--从系统中读取业务员-->
								</select>
							</div>
							<button class="layui-btn" type="button" id="searchbtn" lay-submit lay-filter="searchywy">查询</button>
							<button class="layui-btn" type="button" id="exportbtn">导出</button>
						</div>
					</div>
				</form>
				<div class="layui-form-item">
					<div class="layui-inline">
						<table class="layui-hide layui-table-cell" id="ywyjgresult" lay-filter="result"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		//动态加载所有业务员
		$(function(){
			$.ajax({
				type:'post',
				url:'model/loadAllywy.php',
				data:'',
				success:function(result){
					result = JSON.parse(result);
					$("#ywy").empty();
					var str = "<option value=''></option>";
					for(let j in result.data){
						str += "<option value='"+result.data[j]['EmpID']+"'>"+result.data[j]['Name']+"</option>";
					}
					$("#ywy").append(str);
					layui.use('form', function() {
                        var form = layui.form;
                        form.render();
                	});
                	mulselect();
				}
			});
			$("#exportbtn").hide();
		});
		var laydate;
		var form;
		layui.use('laydate', function() {
			laydate = layui.laydate;
			laydate.render({
				elem: '#startyear',
				type: 'year'
			});
		});
		layui.use('form', function() {
			form = layui.form;
			form.render();
			form.on('submit(searchywy)',function(data){
				data = JSON.stringify(data.field);
				$.ajax({
					type:'post',
					url:'model/notecondition.php',
					data:{'data':data},
					success:function(){
						layui.use('table', function(){
							var table = layui.table;
							table.render({
							  	elem:'#ywyjgresult',
								url:"controller/ywyjg.php",
								title:'查询结果',
								cols:[[
									{field:'Name',title:'业务员',width:80,align:'center',templet:'<div><span title="{{d.Name}}">{{d.Name}}</span></div>'},
									{field:'XFees',title:'经销合计长车费',width:130,align:'center',templet:'<div><span title="{{d.XFees}}">{{d.XFees}}</span></div>'},
									{field:'GFees',title:'加工合计长车费',width:130,align:'center',templet:'<div><span title="{{d.GFees}}">{{d.GFees}}</span></div>'},
									{field:'SFees',title:'双经销合计长车费',width:130,align:'center',templet:'<div><span title="{{d.SFees}}">{{d.SFees}}</span></div>'},
									{field:'XSumSalePrices',title:'经销合计业务价',width:130,align:'center',templet:'<div><span title="{{d.XSumSalePrices}}">{{d.XSumSalePrices}}</span></div>'},
									{field:'XAvgSalePrice',title:'经销平均业务价',width:130,align:'center',templet:'<div><span title="{{d.XAvgSalePrice}}">{{d.XAvgSalePrice}}</span></div>'},
									{field:'GSumSalePrices',title:'加工合计业务价',width:130,align:'center',templet:'<div><span title="{{d.GSumSalePrices}}">{{d.GSumSalePrices}}</span></div>'},
									{field:'GAvgSalePrice',title:'加工平均业务价',width:130,align:'center',templet:'<div><span title="{{d.GAvgSalePrice}}">{{d.GAvgSalePrice}}</span></div>'},
									{field:'SSumSalePrices',title:'双经销合计业务价',width:145,align:'center',templet:'<div><span title="{{d.SSumSalePrices}}">{{d.SSumSalePrices}}</span></div>'},
									{field:'SAvgSalePrice',title:'双经销平均业务价',width:145,align:'center',templet:'<div><span title="{{d.SAvgSalePrice}}">{{d.SAvgSalePrice}}</span></div>'},
									{field:'XSumDirPrcices',title:'经销合计厂长价',width:130,align:'center',templet:'<div><span title="{{d.XSumDirPrcices}}">{{d.XSumDirPrcices}}</span></div>'},
									{field:'XAvgDirPrice',title:'经销平均厂长价',width:130,align:'center',templet:'<div><span title="{{d.XAvgDirPrice}}">{{d.XAvgDirPrice}}</span></div>'},
									{field:'GSumDirPrcices',title:'加工合计厂长价',width:130,align:'center',templet:'<div><span title="{{d.GSumDirPrcices}}">{{d.GSumDirPrcices}}</span></div>'},
									{field:'GAvgDirPrice',title:'加工平均厂长价',width:130,align:'center',templet:'<div><span title="{{d.GAvgDirPrice}}">{{d.GAvgDirPrice}}</span></div>'},
									{field:'SSumDirPrcices',title:'双经销合计厂长价',width:130,align:'center',templet:'<div><span title="{{d.SSumDirPrcices}}">{{d.SSumDirPrcices}}</span></div>'},
									{field:'SAvgDirPrice',title:'双经销平均厂长价',width:130,align:'center',templet:'<div><span title="{{d.SAvgDirPrice}}">{{d.SAvgDirPrice}}</span></div>'},
									{field:'XSumProPrices',title:'经销合计加工费',width:130,align:'center',templet:'<div><span title="{{d.XSumProPrices}}">{{d.XSumProPrices}}</span></div>'},
									{field:'XAvgProPrice',title:'经销平均加工费',width:130,align:'center',templet:'<div><span title="{{d.XAvgProPrice}}">{{d.XAvgProPrice}}</span></div>'},
									{field:'GSumProPrices',title:'加工合计加工费',width:130,align:'center',templet:'<div><span title="{{d.GSumProPrices}}">{{d.GSumProPrices}}</span></div>'},	
									{field:'GAvgProPrice',title:'加工均加工费',width:130,align:'center',templet:'<div><span title="{{d.GAvgProPrice}}">{{d.GAvgProPrice}}</span></div>'},
									{field:'SSumProPrices',title:'双经销合计加工费',width:145,align:'center',templet:'<div><span title="{{d.SSumProPrices}}">{{d.SSumProPrices}}</span></div>'},	
									{field:'SAvgProPrice',title:'双经销平均加工费',width:145,align:'center',templet:'<div><span title="{{d.SAvgProPrice}}">{{d.SAvgProPrice}}</span></div>'},
								]],
							  	even:true,
							  	page:true,
							  	limits: [15,30,45,60,100],
							  	limit: 15,
							  	unresize:true,
							  	done: function(res, curr, count){
							  		//判断查询是否有结果
							  		if(count > 0){
							  			//显示导出按钮
							  			$("#exportbtn").show();
							  		}
							  	}
							});
						});
					},
				});
			});
		});
		$("#exportbtn").click(function(){
			//导出事件
			location.href = 'exportxls/export.php';
		});
	</script>

</html>