<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>业务员样布报表</title>
	</head>
	<body class="layui-layout-body">
		<div style="padding: 15px;">
			<div>
				<form class="layui-form" name="searchywy">
					<div class="layui-form-item">
						<div class="layui-inline" id="choosedate3">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="startyear" class="layui-input" id="startyear" lay-verify="required" readonly="" placeholder="开始年份">
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline" style="width: 400px; display: inline-block; vertical-align: top;">
								<select name="ywy" id='ywy' xm-select="select1" xm-select-search xm-select-show-count="4">
									<!--从系统中读取业务员-->
								</select>
							</div>
							<button class="layui-btn" type="button" id="searchbtn" lay-submit lay-filter="searchywy">查询</button>
							<button class="layui-btn" type="button" id="exportbtn">导出</button>
						</div>
					</div>
				</form>
				<div class="layui-form-item">
					<div class="layui-inline">
						<table class="layui-hide layui-table-cell" id="ywyybresult" lay-filter="result"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		//动态加载所有业务员
		$(function(){
			$.ajax({
				type:'post',
				url:'model/loadAllywy.php',
				data:'',
				success:function(result){
					result = JSON.parse(result);
					$("#ywy").empty();
					var str = "<option value=''></option>";
					for(let j in result.data){
						str += "<option value='"+result.data[j]['EmpID']+"'>"+result.data[j]['Name']+"</option>";
					}
					$("#ywy").append(str);
					layui.use('form', function() {
                        var form = layui.form;
                        form.render();
                	});
                	mulselect();
				}
			});
			$("#exportbtn").hide();
		});
		var laydate;
		var form;
		layui.use('laydate', function() {
			laydate = layui.laydate;
			laydate.render({
				elem: '#startyear',
				type: 'year'
			});
		});
		layui.use('form', function() {
			form = layui.form;
			form.render();
			form.on('submit(searchywy)',function(data){
				data = JSON.stringify(data.field);
				$.ajax({
					type:'post',
					url:'model/notecondition.php',
					data:{'data':data},
					success:function(){
						layui.use('table', function(){
							var table = layui.table;
							table.render({
							  	elem:'#ywyybresult',
								url:"controller/ywyyb.php",
								title:'查询结果',
								cols:[[
									{field:'Name',title:'姓名',width:100,align:'center',templet:'<div><span title="{{d.Name}}">{{d.Name}}</span></div>'},
									{field:'OrderNums',title:'总单数',width:100,align:'center',templet:'<div><span title="{{d.OrderNums}}">{{d.OrderNums}}</span></div>'},
									{field:'Qty',title:'总订单量',width:110,align:'center',templet:'<div><span title="{{d.Qty}}">{{d.Qty}}</span></div>'},
									{field:'CustomerNums',title:'客户数',width:100,align:'center',templet:'<div><span title="{{d.CustomerNums}}">{{d.CustomerNums}}</span></div>'},	
									{field:'MaxQty',title:'订单数最大',width:130,align:'center',templet:'<div><span title="{{d.MaxQty}}">{{d.MaxQty}}</span></div>'},
									{field:'MaxOrder',title:'订单量最大',width:130,align:'center',templet:'<div><span title="{{d.MaxOrder}}">{{d.MaxOrder}}</span></div>'},
								]],
							  	even:true,
							  	page:true,
							  	limits: [15,30,45,60,100],
							  	limit: 15,
							  	done: function(res, curr, count){
							  		//判断查询是否有结果
							  		if(count > 0){
							  			//显示导出按钮
							  			$("#exportbtn").show();
							  		}
							  	}
							});
						});
					}
				});
			});
		});
		$("#exportbtn").click(function(){
			//导出事件
			location.href = 'exportxls/export.php';
		});
	</script>

</html>