<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>生产报表轮播</title>
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<link rel="stylesheet" href="../../css/css.css" />
	</head>
	<body>
		<div class="layui-carousel" id="lunbo" lay-filter="lunbo" style="padding-top: 20px;">
		  <div carousel-item id="showreport">
		  </div>
		</div>
	</body>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../layui/layui.js"></script>
	<script src="../../js/echarts.js"></script>
	<script src="../../js/echartoption.js"></script>
	<script type="text/javascript">
		var vChart;
		function onshow(index){
			$.ajax({
				type:"post",
				url:"../../model/loadScreenParam.php",
				data:'',
				success:function(result){
					result = JSON.parse(result);
					if(result.code == 128){
						i=index;//计数下标
						var cycle = result.data[i].cycle-1;//天数-1
						endtime = getNowFormatDate();
						starttime = getStandardDateBeforeCycle(cycle);
						let parameter = {
							'datetype' : result.data[i].datetype,
							'startdate' : starttime,
							'enddate' : endtime,
							'shape' : 'bar',
							'lx' : result.data[i].lx,
							'dtype' : result.data[i].dtype
						};
						data = parameter;
						rp = parameter['lx'];
						shape = parameter['shape'];
						dtype = parameter['dtype'];
						data = JSON.stringify(data);
						$.ajax({
							type:"post",
							url:"../../controller/json.php?type="+rp,
							data:{"data":data},
							success:function(result){
								result = JSON.parse(result);
								if (vChart != null && vChart != "" && vChart != undefined) {
							        vChart.dispose();
							    }
								eleid = "showecharts"+i;
								vChart = echarts.init(document.getElementById(eleid));
								var date = [],num = [];
								date.push(result.xAxis);//横坐标赋值
								num.push(result.yAxis);//纵坐标赋值
								//相关项进行设置，搭图表骨架
								funName = rp+'Option';
								var option = eval(funName+"(date,num,rp,dtype,shape)");
								vChart.setOption(option);
							}
						});
					}
				}
			});
			
		}
		//初始化首张轮播图
		$(function(){
			$.ajax({
				type:"post",
				url:"../../model/loadScreenParam.php",
				data:'',
				success:function(result){
					result = JSON.parse(result);
					if(result.data.length){
						var str = "";
						for(i=0;i<result.data.length;i++){
							str += "<div id='showecharts"+i+"'></div>";
						}
						$("#showreport").append(str);
					}
				}
			});
			layui.use('carousel', function(){
			  	var carousel = layui.carousel;
				carousel.render({
				    elem: '#lunbo'
				    ,width: '100%' //设置容器宽度
				    ,arrow: 'none' //始终显示箭头
				    ,interval: 30*1000  //切换时间ms
				    ,height: '800px'  //高度
				    ,anim: 'updown'  //上下
	//			    ,indicator: 'none' //指示器
			  	});
			});
			onshow(0);
		});
		//获取当前日期
		function getNowFormatDate() {
	        var date = new Date();
	        var seperator1 = "-";
	        var year = date.getFullYear();
	        var month = date.getMonth() + 1;
	        var strDate = date.getDate();
	        if (month >= 1 && month <= 9) {
	            month = "0" + month;
	        }
	        if (strDate >= 0 && strDate <= 9) {
	            strDate = "0" + strDate;
	        }
	        var currentdate = year + seperator1 + month + seperator1 + strDate;
	        return currentdate;
	    }
		//获取cycle天前日期
		function getStandardDateBeforeCycle(cycle){
		    var _date = new Date(); //获取今天日期
		        _date.setDate(_date.getDate() - cycle);//日期回到cycle天前
		    var year=_date.getFullYear();
		    var month=_date.getMonth()+1;
		    var day=_date.getDate();
		    if (month<10) {
		        month='0'+month;
		    };
		    if (day<10) {
		        day='0'+day;
		    };
		
		    var dateTemp = year+'-'+month+'-'+day;
		    _date.setDate(_date.getDate() + 7);//日期重置
		    return dateTemp;
		}
		window.onresize = function(){//窗口大小变动则重新加载图表
			if (vChart != undefined) {
		        vChart.resize();
			}
		}
		layui.use('carousel', function(){
		  	var carousel = layui.carousel;
		  	//实例
		  	carousel.render({
			    elem: '#lunbo'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'none' //始终显示箭头
			    ,interval: 30*1000  //切换时间ms
			    ,height: '800px'  //高度
			    ,anim: 'updown'  //上下
//			    ,indicator: 'none' //指示器
		  	});
		  	carousel.on('change(lunbo)', function(obj){
		  		//执行显示图表
				onshow(obj.index);
			});
		});
	</script>
</html>
