<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>机台产量报表</title>
		<script src="js/controlshow.js"></script>
	</head>
	<body class="layui-layout-body">
		<div style="padding: 15px;">
			<div>
				<form class="layui-form" name="searchjtcl">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-input-inline" style="width:150px;">
								<select id="datetype" name="datetype" lay-verify="required" lay-filter="datetype">
									<option value="">报表期限格式</option>
									<option value="1">按日</option>
									<option value="2">按月</option>
									<option value="3">按年</option>
								</select>
							</div>
						</div>
						<div class="layui-inline" id="choosedate1">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="startdate" class="layui-input" id="startdate" lay-verify="required" readonly="" placeholder="起始日期">
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="enddate" class="layui-input" id="enddate" lay-verify="required" readonly="" placeholder="结束日期">
								</div>
							</div>
						</div>
						<div class="layui-inline" id="choosedate2">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="startmon" class="layui-input" id="startmon" lay-verify="required" readonly="" placeholder="起始月份">
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="endmon" class="layui-input" id="endmon" lay-verify="required" readonly="" placeholder="结束月份">
								</div>
							</div>
						</div>
						<div class="layui-inline" id="choosedate3">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="startyear" class="layui-input" id="startyear" lay-verify="required" readonly="" placeholder="起始年份">
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="endyear" class="layui-input" id="endyear" lay-verify="required" readonly="" placeholder="结束年份">
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline" style="width:300px">
								<select name="jt" id='jt' xm-select="select1" xm-select-search xm-select-show-count="4">
									<!--动态获取所有机台-->
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<button class="layui-btn" type="button" lay-submit lay-filter="searchjtcl">查询</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
				<div class="layui-form-item">
					<div class="layui-inline">
						<table class="layui-hide layui-table-cell" id="jtclresult" lay-filter="result"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			initInput();
			$.ajax({
				type:'post',
				url:'model/loadAlljt.php',
				data:'',
				success:function(result){
					result = JSON.parse(result);
					$("#jt").empty();
					var str = "<option value=''></option>";
					for(let j in result.data){
						str += "<option value='"+result.data[j]['ShiftID']+"'>"+result.data[j]['Name']+"</option>";
					}
					$("#jt").append(str);
					layui.use('form', function() {
                        var form = layui.form;
                        form.render();
                	});
                	mulselect();
				}
			});
		});
		var laydate;
		var form;
		layui.use('laydate', function() {
			laydate = layui.laydate;
			showtime(laydate);
		});
		layui.use('form', function() {
			form = layui.form;
			form.on('select(datetype)', function(data){
				var optval = data.value;
				if(optval=="1"){
					initInput();
				 	$("#choosedate1").show();
				 	$("#startdate").attr("lay-verify","required");
				 	$("#enddate").attr("lay-verify","required");
				}
				else if(optval=="2"){
					initInput();
				 	$("#choosedate2").show();
				 	$("#startmon").attr("lay-verify","required");
				 	$("#endmon").attr("lay-verify","required");
				}
				else if(optval=="3"){
				 	initInput();
					$("#choosedate3").show();
					$("#startyear").attr("lay-verify","required");
				 	$("#endyear").attr("lay-verify","required");
				}else{
					initInput();
				}
			});
			form.render();
			form.on('submit(searchjtcl)',function(data){
				data = JSON.stringify(data.field);
				$.ajax({
					type:'post',
					url:'model/notecondition.php',
					data:{'data':data},
					success:function(){
						layui.use('table', function(){
							var table = layui.table;
							table.render({
							  	elem:'#jtclresult',
								url:"controller/jtcl.php",
								title:'查询结果',
								cols:[[
									{field:'Name',title:'机台',width:300,align:'center',templet:'<div><span title="{{d.Name}}">{{d.Name}}</span></div>'},
									{field:'Qty',title:'数量',width:210,align:'center',templet:'<div><span title="{{d.Qty}}">{{d.Qty}}</span></div>'},
									]],
							  	even:true,
							  	page:true,
							  	limits: [15,30,60,100],
							  	limit: 15,
							  	done:function(res, curr, count){
							  		
							  	}
							});
						});
					}
				});
			});
		});
	</script>

</html>